.p1 {
    font-size: 20px;
    margin: 0 0 0 0px;
}

 .td {
    float: left;
    display: inline-block;
    
 }
.td1{
    float: right;
    display: inline-block;
  
}

tr {
    height: 10px;
    width: 20px;
    border: 1px;
    
}
.card{
    float: left;
    /* width: 400px; */
}
.card1{
    float: right;
    /* width: 250px; */
}
.card2{
    float: right;

}