.lunbot {
  position: relative;
 left: 20%;
}

.lunbot1 {
  position: relative;
  width: 60%;
  height: 220px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.card {
  height: 220px;
  width: 150px;
  display: inline-block;
  margin: 50px -30px 35px 70px;
  
}
.p1{
  float: left;
  position: relative;
  left: 70px;
}
.more{ 
  float: right;
  position: relative;
  right: 100px;
}