.lunbot {
  position: relative;
 left: 20%;
}

.lunbot1 {
  position: relative;
  width: 60%;
  height: 220px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.card {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 40px 20px 20px 10px;
  
}



.p1{
  float: left;
  position: relative;
  left: 80px;
  font-size: 19px;
  margin: 0;
}
.more{ 
 
  position: relative;
 left: 600px;
 top: -20px;
  font-size: 19px;
}